.popUpdetailBox{
    position: fixed;

    top: 0px;
    left: 0px;

    width: 100vw;
    height: 100vh;

    background-color: white;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;

background-color: rgba(0,0,0,0.3);





}

.innerBox{
    border: 1px solid black;
    padding: 32px;
    background-color: white;



}

.popCont{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    z-index: 3;

    background-color: rgba(0,0,0,0.1);

}

.boxPop{
    border: 1px solid black;
background-color: white;
    padding: 12px;
}

.sorceCont{
    display: flex;
    justify-content: space-between;
}

.buttonCreateSource{
    width: 100%;
    margin: 12px 0px;
    padding: 8px 16px;
    border: none;
    border-radius: 12px;
    border: 1px solid rgba(0,0,0,0.3);
    background-color: white;
    transition: all 0.3s ease;
}

.buttonCreateSource:hover{
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}


.mainCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: 12px;

    margin-top: 24px;

}


.boxForSources{
    border: 1px solid black;
    display: flex;
    align-items: center;
    gap: 18px;
    border: 1px solid rgba(0,0,0,0);
    padding: 12px;
    width: 100%;
    transition: all 0.3s ease;
    cursor: pointer;

    justify-content: center;


}

.boxForSources:hover{
    background-color: rgba(0,0,0,0.1);

}

.boxForSources h4{
    font-weight: 400;
    margin: 0px;

      white-space: nowrap;      /* 1. Prevents the text from wrapping to a second line */
  overflow: hidden;         /* 2. Hides the part of the text that extends beyond the container */
  text-overflow: ellipsis;  /* 3. Adds the "..." to signal there is more text */
  width: 200px;         

}

.none{
    display: none;
}

.boxSection{
    padding: 12px 0px;
    display: flex;
    justify-content: space-between;
    gap: 12px;



}

.boxSection button{
    cursor: pointer;
    padding: 8px 24px;
    border-radius: 12px;
    border: none;
    transition: all 0.3s ease;
}

.boxSection button:hover{
    transform: translateY(-4px);
}

.activeButton{
    background-color: black;
    color: white;
}

.inputBox{

    display: flex;
    flex-direction: column;
    gap: 12px;

    margin-top: 12px;

}

.inputBox h2{
    margin: 0px;
    font-weight: 400;
}

.inputBox input{
    padding: 8px;
    border-radius: 12px;
    border: none;
    border: 1px solid rgba(0,0,0,0.5);
    transition: all 0.3s ease;
}


.inputBox input:hover{
    transform: translateY(-4px);

}
.inputBox button{
    background-color: black;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.inputBox button:hover{
    transform: translateY(-4px);
}