.mainBoxCont{
    width: 100vw;


    display: flex;
    justify-content: center;
    align-items: center;

}

.formCotn{

    display: flex;
    flex-direction: column;
}

.formCotn h1{

    font-weight: 500;
    font-size: 48px;
    margin: 0px;
    padding: 0px;
    line-height: 32px;

    transition: all 0.3s ease;

}


.formCotn h1:hover{

    rotate: 2deg;
    cursor: pointer;

}


.Navbar{
    border: 1px solid rgba(0,0,0,0.1);
    padding: 16px;
}

.Navbar h2{
    margin: 0px;
    font-weight: 400;
}

.formCotn input{
    padding: 12px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.3);
    margin-top: 8px;
}

.loginButton{
    padding: 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
}


.loginButton:hover{
    scale: 1.01;

}